{% extends 'base.html' %}
{% load static %}

{% block page_links %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
 
{% endblock %}

{% block page_title %} Polls index {% endblock %}

{% block page_body %}

{% include "polls/includes/header.html" %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1 class = "fcolor">{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}" style="color: white">{{ choice.choice_text }}</label><br>               
        
    {% endfor %}
        <div class="bcolor">
            <a href="{% url 'polls:newchoice' question.id %}">Add Choice</a>
            <a href="{% url 'polls:deleteq' question.id %}">Delete</a>
            <a href="{% url 'polls:editques' question.id%}">Edit</a>
            <!-- <button class="btn btn-primary">click me</button> -->
        </div>
    
</fieldset>
<input class="my-4" type="submit" value="Vote">
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
 
{% endblock %}