li a, ::marker{
    color: yellow;
    font-size: 20px;
}

body {
    background: url("images/background1.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.link1 {
    color: green;
    font-size: 20px;
}

