li a, ::marker{
    color: yellow;
    font-size: 20px;
}

body {
    background: url("images/background.jpg");
    background-size: cover;
}

.addques {
    color: greenyellow;
    font-size: 20px;
}

.editques {
    color: blue;
    font-size: 20px;
}

.fcolor {
    color: white;
    font-size: 40px;
}

.bcolor a {
    color: rgb(8, 7, 7);
    font-size: 20px;
    border: 2px solid white; 
    padding: 5px; 
    background-color: beige;  
}

.top > a {
    color: red;
    font-size: 30px;
}